services:
  loki:
    build: .
    ports:
      - "${LOKI_PORT}:3100"
    command: ["-config.file=/etc/loki.yaml", "-config.expand-env=true"]
    environment:
      - MINIO_SCHEME=${MINIO_SCHEME}
      - MINIO_URL=${MINIO_URL}
      - MINIO_USER=${MINIO_USER}
      - MINIO_PASSWORD=${MINIO_PASSWORD}
      - MINIO_BUCKET=${MINIO_BUCKET}
    volumes:
      - loki:/data
    restart: always

volumes:
  loki:
    external: false
