services:
  loki:
    build: .
    ports:
      - "${LOKI_PORT}:3100"
    command: ["-config.file=/etc/loki.yaml", "-config.expand-env=true"]
    environment:
      - S3_SCHEME=${S3_SCHEME}
      - S3_URL=${S3_URL}
      - S3_USER=${S3_USER}
      - S3_PASSWORD=${S3_PASSWORD}
      - S3_BUCKET=${S3_BUCKET}
    volumes:
      - loki:/data
    restart: always

volumes:
  loki:
    external: false
